* {
    font-family: 'Raleway', 'Arial', sans-serif;
}

header {
    width: 100%;
    color: white;
    background-color: black;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
}

.container {
    width: 1100px;
    margin: 0 auto;
    /*border: 1px solid red;
    */
}

.top_logo {
    float: left;
    font-size: 14px;
    letter-spacing: 1px;
}

.top_logo p {
    font-weight: 500;
}

span {
    font-weight: 700;
    color: #27a8ab;
}

nav {
    float: right;
    position: relative;
}

.menu li {
    float: left;
    padding: 0 21px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}

.menu li:last-child {
    padding-right: 0;
}

.menu_hidden {
    position: absolute;
    width: 120px;
    height: 100px;
    top: 50px;
    left: 0px;
    background-color: black;
}

.menu_hidden li {
    padding: 0 15px;
    line-height: 28px;
    text-transform: none;
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin: 0 auto;
}

.menu_hidden li:first-child {
    margin-top: 10px;
}

.menu_hidden::before {
    content: '';
    width: 20px;
    height: 20px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid black;
    border-right: 10px solid transparent;
    position: absolute;
    top: -20px;
    left: 50px;
}

ul>li>ul {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

ul>li:hover>ul {
    opacity: 1;
    visibility: visible;
    z-index: 100;
}

section {
    width: 100%;
}

.first_section {
    height: 500px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, white), to(silver));
    background: linear-gradient(white 60%, silver 100%);
}

.first_section .container {
    padding: 140px 30px 140px 0;
    ;
    position: relative;
}

.hidden {
    display: none;
    visibility: hidden;
}

.first_section img {
    position: absolute;
    top: 115px;
    left: 0px;
    margin-left: 40px;
}

.main_article {
    width: 500px;
    float: right;
    margin-right: 80px;
    text-align: center;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

article p {
    line-height: 28px;
    margin-bottom: 35px;
}

article button {
    width: 280px;
    height: 50px;
    background-color: #27a8ab;
    border: none;
    outline: none;
    border-radius: 10px;
    letter-spacing: 1px;
    font-size: 20px;
    color: white;
}

.first_section::before {
    content: '';
    display: block;
    clear: both;
}

.leftArrow,
.rightArrow {
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 80px;
    position: absolute;
    color: #27a8ab;
    z-index: 1;
    cursor: pointer;
}

.leftArrow {
    top: 250px;
}

.rightArrow {
    top: 250px;
    right: 0;
}

.sec_section {
    background-color: white;
    height: 350px;
}

#sec_section .three_cols {
    height: 225px;
    width: 32%;
    float: left;
    margin: 15px 2% 50px 0;
    border: 1px solid silver;
}

.three_cols {
    position: relative;
}

#sec_section .three_cols:last-child {
    margin-right: 0;
    height: 280px;
}

.first_col {
    background-image: url(../images/box1_img.jpg);
    background-size: cover;
    background-position: bottom;
}

.sec_col {
    background-image: url(../images/box2_img.jpg);
    background-size: cover;
    background-position: bottom;
}

.description {
    width: 100%;
    height: 60px;
    position: absolute;
    background-color: rgba(255, 255, 255, .3);
    bottom: 10px;
}

span.bottom_line {
    color: black;
    font-weight: 700;
    font-size: 14px;
    display: block;
    position: relative;
    margin: 15px 0 25px 15px;
}

.bottom_line::after {
    content: '';
    display: block;
    width: 40%;
    height: 8px;
    background-color: #27a8ab;
    position: absolute;
    top: 20px;
}

.th_col {
    padding-top: 15px;
}

.th_col>p {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: grey;
    margin: 20px 15px;
}

#th_section {
    height: 725px;
    background-color: rgb(230, 230, 230);
    padding: 50PX 0 0 0;
}

h2 {
    font-size: 17px;
    font-weight: 600;
    position: relative;
    margin-bottom: 75px;
}

h2::after {
    content: '';
    display: block;
    position: absolute;
    width: 31%;
    height: 10px;
    background-color: #27a8ab;
    top: 25px;
}

.pricelist_position {
    height: 500px;
    width: 31%;
    margin-right: 3.5%;
    float: left;
    position: relative;
    padding-top: 30px;
}

.pricelist_position:last-child {
    margin-right: 0;
    position: relative;
}

.inactive {
    border: 2px solid #bbb;
    background-color: white;
}

.active {
    border: 2px solid #27a8ab;
    background-color: #27a8ab;
}

.inactive::before,
.active::before {
    content: '';
    display: block;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -27px;
}

.inactive::before {
    border: 2px solid #bbb;
    background: white;
}

.active::before {
    border: 2px solid #27a8ab;
    background: #27a8ab;
}

.inactive::after,
.active::after {
    content: '';
    display: block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -20px;
    margin-left: -12px;
}

.inactive::after {
    border: 2px solid #bbb;
    background-color: #bbb;
}

.active::after {
    border: 2px solid white;
    background-color: white;
}

h3 {
    text-align: center;
    font-size: 22px;
}

.inactive>h3 {
    color: #27a8ab;
}

.active>h3 {
    color: white;
}

.price_circle {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -65px;
    top: 80px;
    border: 2px solid #bbb;
}

.price {
    display: block;
    font-size: 40px;
    text-align: center;
    margin: 25px 0 10px 0;
    position: relative;
}

.price>sup {
    font-size: 15px;
    position: absolute;
    top: 10px;
}

.currency {
    text-align: center;
    display: block;
}

.active>.price_circle {
    background-color: white;
    border: 2px solid white
}

.inactive>.price_circle>span {
    color: #bbb;
}

.pricelist_position>ul {
    position: absolute;
    top: 240px;
    text-align: center;
    width: 100%;
    font-size: 22px;
    color: #777;
    line-height: 45px;
}

.pricelist_position li {
    height: 45px;
}

.inactive>ul>li:nth-child(2n+1) {
    background-color: #e4e4e4;
}

.pricelist_position>ul>li:nth-child(2n+2) {
    background-color: #f1f1f1;
}

.active>ul>li:nth-child(2n+1) {
    background-color: white;
}

.pricelist_position>button {
    position: absolute;
    height: 35px;
    width: 125px;
    border-radius: 10px;
    bottom: 20px;
    left: 50%;
    margin-left: -62px;
    border: none;
    font-weight: 600;
}

.inactive>button {
    background-color: #27a8ab;
    color: white;
}

.active>button {
    background-color: white;
    color: #27a8ab;
}

.contact_form {
    height: 550px;
    padding: 35px;
}

.contact_form form {
    width: 100%%;
    height: 100%;
    position: relative;
}

.contact_form form>input,
.contact_form form>textarea {
    width: 60%;
    border: 1px solid #a4e1d1;
    height: 100%;
    font-size: 40px;
    margin: 0 40px 20px 0;
    outline-color: #30a9ac;
    font-family: 'Raleway', 'Arial', sans-serif;
    padding: 7px 0 7px 10px;
}

.contact_form form>textarea {
    resize: none;
    height: 190px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #c4c4c4;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #c4c4c4;
}

input::placeholder,
textarea::placeholder {
    color: #c4c4c4;
}

label:not(.checkbox) {
    display: none;
}

form>img {
    position: absolute;
    top: -20px;
    left: 750px;
}

.contact_form form>input[type="checkbox"] {
    position: absolute;
    top: 220px;
    left: 720px;
    height: 50px;
    width: 50px;
}

#personal_data {
    position: absolute;
    display: block;
    width: 300px;
    height: 50px;
    top: 225px;
    left: 800px;
    font-size: 18px;
    color: #ababab;
}

.contact_form form>input[type="submit"] {
    position: absolute;
    top: 286px;
    left: 720px;
    height: 70px;
    width: 345px;
    background-color: #27a8ab;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 30px;
    border-radius: 10px;
}

footer {
    width: 100%;
    padding-top: 30px;
    height: 100px;
}

.copy {
    font-size: 18px;
    color: #ababab;
    float: left;
    padding-top: 10px;
}

.footer_logos {
    float: right;
}

.footer_logo {
    display: inline-block;
    color: #ababab;
    text-transform: uppercase;
    font-size: 20px;
}

.footer_logos>div.footer_logo {
    margin-left: 65px;
}
