* {
    font-family: 'Raleway', 'Arial', sans-serif;
}

header {
    width: 100vw;
    color: white;
    background-color: black;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
}

.container {
    width: 1100px;
    margin: 0 auto;
    /*
    border: 1px solid red;
    */
}

.top_logo {
    float: left;
    font-size: 14px;
    letter-spacing: 1px;
}

.top_logo p {
    font-weight: 500;
}

span {
    font-weight: 700;
    color: rgb(0, 220, 190);
}

nav {
    float: right;
    position: relative;
}

.menu li {
    float: left;
    padding: 0 21px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}

.menu li:last-child {
    padding-right: 0;
}

.menu_hidden {
    position: absolute;
    width: 120px;
    height: 100px;
    top: 52px;
    left: 5px;
    background-color: black;
}

.menu_hidden li {
    padding: 0 15px;
    line-height: 28px;
    text-transform: none;
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin: 0 auto;
}

.menu_hidden li:first-child {
    margin-top: 10px;
}

.menu_hidden::before {
    content: '';
    width: 20px;
    height: 20px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid black;
    border-right: 10px solid transparent;
    position: absolute;
    top: -20px;
    left: 50px;
}

li>ul {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear
}

li:hover>ul {
    opacity: 1;
    visibility: visible;
}

.first_section {
    height: 500px;
    width: 100vw;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(lightgray));
    background: linear-gradient(white, lightgray);
}

.first_section .container {
    padding: 79px 0;
    position: relative;
}

.first_section img {
    -webkit-transform: scale(1.25) translateX(30px) translateY(25px);
    transform: scale(1.25) translateX(30px) translateY(25px);
    ;
}

article div {
    height: 500px;
    width: 500px;
    float: right;
    margin-right: 80px;
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

article p {
    line-height: 28px;
    margin-bottom: 25px;
}

article button {
    width: 280px;
    height: 50px;
    background-color: rgb(0, 220, 190);
    border: none;
    outline: none;
    border-radius: 10px;
    letter-spacing: 1px;
    font-size: 20px;
    color: white;
}

.first_section::before {
    content: '';
    display: block;
}

.left_arrow,
.right_arrow,
.left_arrow::after,
.right_arrow::after {
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: rgb(0, 220, 190);
    border-radius: 2px;
}

.left_arrow {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    top: 230px;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.left_arrow::after {
    content: '';
    display: block;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.right_arrow {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    top: 230px;
    left: 1048px;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.right_arrow::after {
    content: '';
    display: block;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}
